@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html{
    width: 100%;
	height:100%;
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #19a4c2;
}

#header {
    background-color: #19a4c2;
    color:white;
    padding:1em;
    padding-left: 1em;
}
#nav {
    line-height:30px;
    
    height:100%;
    width:15%;
    float:left;
    padding-left: 1em;
    padding-top: 1em;
    border-right: 1px solid;
    border-color: #eeeeee;
    padding-right: 2em;
}
#section {
    width:15%;
    float:left;
    padding:1em; 
}
#footer {
    margin-bottom: 0;
    background-color:#19a4c2;
    color:white;
    clear:both;
    text-align:center;
    padding: 0.7em;
}

#footer p{
    color: white;
    font-size: 0.
}

#header a{
    border-radius: 5px;
    border: 1px solid white;
    background:#19a4c2;
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 1em;
    text-decoration: none;
}

#header a:hover{
    border-radius: 5px;
    border: 1px solid white;
    background:rgba(255,255,255,0.3);
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 2em;
    transition: 0.4s;
}

#header a p{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.7em;
}

#header a p:hover{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.71em;
    transition: 0.3s;
}

#nav .user{
    background: #eeeeee;
    padding: 1em;
}

#nav.user .info{
    float: right;
}

#nav .user .info h1{
    font-size: 0.8em;
    line-height: 0.1em;
    text-align: right;
    color: #999999;
    margin:0;
    padding: 0;
}

#nav .user .info .link{
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: right;
    line-height: 0em;
    text-decoration: none;
    color: #999999;
    margin:0;
    padding: 0;
}

#nav .separator{
    height: 0.1px;
    margin: 2em 0em 2em 0em;
    background-color: #eeeeee;
}
</style>