@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html{
    width: 100%;
	height:100%;
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
    /*alterar isto para outro sítio*/
    background: url(../img/bg1.jpg);
    max-height: 800px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #518fa7;
    overflow: auto;
}


#topmenu.navbar {
	background-color: rgba(255,255,255,1);
    max-height: 50px;
    padding: 1em 3em 1em;
    padding-right: 10%;
    border-bottom: 3px solid #1ea0bb;
    transition: all 0.8s;
}

#topmenu.navbar a{
    border-radius: 5px;
    border: 1.5px solid #19a4c2;
    background:white;
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 1em;
    text-decoration: none;
}

#topmenu.navbar a:hover{
    border-radius: 5px;
    border: 1.5px solid #19a4c2;
    background:rgba(25,164,194,0.2);
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 2em;
    transition: 0.4s;
}


#topmenu.navbar a p{
    color: #19a4c2;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.7em;
}

#topmenu.navbar a p:hover{
    color: #19a4c2;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.71em;
    transition: 0.3s;
}

#messageBox{
    max-width: 40%;
    padding-left: 12%;
    margin-top: 25%;
    position: fixed;
}

#messageBox h3{
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1em;
    text-shadow: 2px 2px 8px rgba(255,255,255,0.6);
    font-size: 2em;
    text-align: center;
    
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#messageBox .separator{
    height: 1px;
    margin: 0.5em 6em 0.5em 6em;
    box-shadow: 2px 2px 8px rgba(255,255,255,0.6);
    background-color: #FFFFFF;
    
            -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#messageBox h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1em;
    text-shadow: 2px 2px 8px rgba(255,255,255,0.6);
    font-size: 1em;
    text-align: center;
    
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
    
}

*{
	margin: 0;
	padding: 0;
}

a{
    font-family: 'Open Sans', sans-serif;
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #4FDA8C;
}

input{
	font: 16px/26px "Open Sans", sans-serif;
}

body{
	color: #666;
	background-color: #f1f2f2;
	font: 16px/26px "Open Sans", sans-serif;
}

.form-wrap{
	background-color: #fff;
	width: 320px;
    margin-left: 65%;
	margin-top: 10%;
	box-shadow: 0px 1px 8px #BEBEBE;
	-webkit-box-shadow: 0px 1px 8px #BEBEBE;
	-moz-box-shadow: 0px 1px 8px #BEBEBE;
    
            -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.form-wrap .tabs{
	overflow: hidden;
}

.form-wrap .tabs h3{
	float: left;
	width: 50%;
}

.form-wrap .tabs h3 a{
	padding: 0.5em 0;
	text-align: center;
	font-weight: 400;
	background-color: #e6e7e8;
	display: block;
	color: #666;
}

.form-wrap .tabs h3 a.active {
	background-color: #fff;
}
 
.form-wrap .tabs-content{
	padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
	display: none;
}
    
.form-wrap .tabs-content .active {
	display: block !important;
}

.form-wrap form .input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: inherit;
	font-family: 'Open Sans', sans-serif;
	padding: .8em 0 10px .8em;
	border: 1px solid #CFCFCF;
	outline: 0;
	display: inline-block;
	margin: 0 0 .8em 0;
	padding-right: 2em;
	width: 100%;
}
 
.form-wrap form .button {
	width: 100%;
	padding: .8em 0 10px .8em;
	background-color: #19a4c2;
	border: none;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.form-wrap form .button:hover {
	background-color: #57c2d3;
}

.form-wrap form .checkbox {
	visibility: hidden;
	padding: 20px;
	margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.form-wrap form label[for] {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

.form-wrap form label[for]:before {
	content: '';
	position: absolute;
	border: 1px solid #CFCFCF;
	width: 17px;
	height: 17px;
	top: 0px;
	left: -14px;
}

.form-wrap form label[for]:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background-color: transparent;
	top: 4px;
	left: -10px;
	border: 3px solid #28A55F;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
 
.form-wrap .help-text {
	margin-top: .6em;
}

.form-wrap .help-text p {
	text-align: center;
	font-size: 14px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
