@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html{
    width: 100%;
	height:100%;
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #19a4c2;
}

#header {
    background-color: #19a4c2;
    color:white;
    padding:1em;
    padding-left: 1em;
}

a {
    text-decoration: none;
    background-color: transparent;
}

#nav {
    text-decoration: none;
    height:100%;
    width:15%;
    float:left;
    padding-left: 1em;
    padding-top: 1em;
    border-right: 1px solid;
    border-color: #eeeeee;
    padding-right: 2em;
}
#footer {
    margin-bottom: 0;
    background-color:#19a4c2;
    color:white;
    clear:both;
    text-align:center;
    padding: 0.7em;
    width: 100%;
}

#footer p{
    color: white;
    font-size: 0.7em;
}

#header a{
    border-radius: 5px;
    border: 1px solid white;
    background:#19a4c2;
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 1em;
    text-decoration: none;
}

#header a:hover{
    border-radius: 5px;
    border: 1px solid white;
    background:rgba(255,255,255,0.3);
    max-width: 30%;
    max-height: 30px;
    text-align: center;
    float:right;
    margin-right: 2em;
    transition: 0.4s;
}

#header a p{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.7em;
}

#header a p:hover{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin:0em 1em 0em 1em;
    font-size-adjust: auto;
    font-size: 0.71em;
    transition: 0.3s;
}

#nav .user{
    background: #eeeeee;
    padding: 1em;
}


#nav p{
    text-decoration:none;
}

#nav.user .info{
    float: right;
}

#nav .user .info h1{
    font-size: 0.8em;
    line-height: 0.1em;
    text-align: right;
    color: #999999;
    margin:0;
    padding: 0;
}

#nav a p{
    text-decoration: none;
}

#nav .user .info .link{
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: right;
    line-height: 0em;
    text-decoration:none;
    color: #999999;
    margin:0;
    padding: 0;
}

#nav .separator{
    height: 0.1px;
    margin: 2em 0em 2em 0em;
    background-color: #eeeeee;
}

#nav .list .button{
    color: #999999;
    line-height: 0;
    font-size: 0.8em;
    text-decoration: none;
}

#nav .list a p{
    color: #999999;
    line-height: 0;
    font-size: 0.8em;
    text-decoration: none;
}

#nav .list a p:hover{
    color: #999999;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.1s;
}

#nav .list .button:hover{
    color: #999999;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.1s;
}
#section {
    float:left;
    padding:1em;
    width: 75%;
    margin: 0;
}

#section h1{
    font-size: 2em;
    color: #19a4c2;
    text-decoration: none;
    margin:0;
}

#section h5{
    font-size: 0.9em;
    color: #19a4c2;
    text-decoration: none;
    margin:0;
}



#section .cont .event a h1{
    font-size: 1em;
    color: #19a4c2;
    text-decoration: none;
    max-width: 12em;
    float: left;
    text-align: left;
    vertical-align: top;
    position: relative;
    margin:0;
}

#section .cont .event a h2{
    font-size: 0.6em;
    color: #999999;
    text-decoration: none;
    line-height: 1em;
    position: relative;
    margin: 0;
}



#section .cont .event a h4{
    font-size: 0.3em;
    color: #19a4c2;
    border-radius: 5px;
    border: 1px solid #19a4c2;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.3em;
    position: relative;
    margin: 0;
    float: left;
    
}

#section .cont .event{
    background-color: #eeeeee;
    padding: 1em;
    width: 12em;
    height: auto;
}

#section .cont .event:hover{
    background-color: #DBDBDB;
    padding: 1em;
    width: 12em;
    height: auto;
    transition: 0.2s;
}


#section .cont{
    float: left;
    margin-right: 2em;
}

#section ul{
    list-style-type: none;
}

#section .cont .contImg{
    width: 14em;
    height: 6em;
    overflow: hidden;
}

#section .cont .contImg img{
    width: 100%;
}

#section img{
	max-width: 50%;
	max-height: 50%;
}



</style>
